@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-image: linear-gradient(to right, red , yellow);
}



.par{
  text-align: center;
}

  section nav {
    font-family: 'Roboto Thin';
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 195, 195);
    text-align: center;
}

 .description{
    list-style-type: none;
    font-size: 300%;
    margin-top: 200px;
    font-family: Roboto;
    color: rgb(207, 195, 195);
    text-align: center;
  }
  .par {
    margin-top: 500px;
    height: 650px;
}

 section nav{  
   text-align: center;                                                                          

 }
  .home{

    margin-left: 200px;
  }

  header{
    margin:0px;
  }
  .copyrights {
    
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    color:white;
}
section nav li a{
  list-style-type: none;
  
}

.hi{
  font-family: Roboto;
  font-size: 80px;
  text-align: center;
  color: white;
}

header ul li a{
  color:white;
  text-decoration: none;
}
  

nav{


  padding-left: 20px;
  padding-right:20px;
}
header ul li a:visited {
  color:white;
}
header ul li a:hover, header ul li a:active, header ul li a:focus {
  color:black;
  text-decoration:underline;
  font-weight: bold;
  
  
}

nav a{
  font-family: Roboto;
  color:#67aff1;
  text-decoration:none;
  margin-left: 10px;
  margin-top:60px;
  padding: 5px,15px;
  border-radius: 10px;
  text-align: center;
}

  nav a:hover, nav a:active {
  
  
  font-weight: bold;
  
}

@media screen and (max-width: 1140px) {
  section nav {
      font-family: 'Roboto Thin';
      font-size: 24px;
      line-height: 36px;
      text-align: left;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
  }

  @media screen and (max-width: 760px) {
    .features {
        display: block;
    }

    li {
        font-size: 10px;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 30px;
    }

    footer {
        font-size: 10px;
    }
    header .logo a {
        background-image: url("LOGO.png");
        height: 50px;
	    width: 60px;
        background-size: 50px;
    }

}

@media screen and (max-width: 600px) {
  li {
      font-size: 12px;
  }

  section nav {
      font-size: 14px;
      line-height: 26px;
  }

  section .mybutton {
      font-size: 12px;
  }

  section .mybutton:hover {
      background: white;
      font-size: 14px;
      margin-top: 29px;
  }
}
}


.dropbtn {
  border-radius: 10px;
  display: inline-block;
    background-color:gray;
    color:white;
    margin-right:135px;
    margin-left:0px;
    margin-top:20px;
    padding:10px;
    text-align: center;
    font-size: large;
    font-family: Roboto;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:gray;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:gray;}


.trexrunning{

  font-family:Roboto;
  font-size:50px;
  text-align: center;
}